pipreqs==0.4.9
pip-tools==3.4.0
django==2.1.7
djangorestframework==3.9.1
psycopg2==2.7.7
gunicorn==19.9.0
django-filter==2.1.0
django-cors-headers==2.4.0
django-request-logging==0.6.7
rapidjson==1.0.0
ldap3==2.5.2
